.main-visual {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url("../item/top/main_visual.jpg");
  @extend .back-setting;
  >.text {
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    margin: calc(50vh - 80px) 0 0 0;
    width: 100%;
    line-height: 1.3;
    span {
      letter-spacing: 0.2rem!important;
    }
  }
}

.about-box {
  position: relative;
  width: 100%;
  min-height: 420px;
  background-image: url("../item/top/texture1.png");
  @extend .back-setting;
  >.text {
    padding: 100px 0;
    text-align: center;
    h3 {
      margin: 0;
      padding: 0;
    }
  }
  >.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1000px;
    width: 100%;
    height: 100%;
  }
  >.image >.left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px
  }
  >.image >.right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 120px
  }
  @media screen and (max-width:1024px) {
    min-height: 250px;
    >.image {
      max-width: 600px;
    }
    >.image >.left,>.image >.right {
      max-height: 70px;
      width: 60px
    }
    >.text {
      padding: 50px 20px;
    }
  }
}

.news-box {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 60px;
  >.text {
    background-image: url("../item/top/texture2.png");
    @extend .back-setting;
    padding: 30px 0 30px 60px;
    width: calc(50% - 20px);
    min-height: calc(25vw - 50px);
    >.buttons {
      display:flex;
    }
  }
  >.image {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    width: calc(50vw + 20px);
    padding: 0;
    margin: 0;
    li {
      width: 25%;
      height: calc(12.5vw + 5px);      
      overflow: hidden;
      img {
        height: 100%
      }
    }
  }

  @media screen and (max-width:896px) {
    display: block;
    margin-top: 0;
    >.text {
      width: calc(100% - 50px);
      padding: 20px 20px 60px 30px;
    }
    >.image {
      width: 100%
    }
    >.image li {
      width: 25%;
      height: 25vw;     
    }
  }
}

// ボタン //

.button-4{
  margin: 20px 20px 0 0;
  width:140px;
  height:50px;
  border: 1px solid #34495e;
  text-align:center;
  cursor: pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  a {
    font-family: fot-tsukuardgothic-std, sans-serif;
    color:#34495e;
    text-decoration:none;
    line-height:45px;
    transition:all .3s ease;
    z-index:2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width:1024px) {
    margin-top: 0;
    height:40px;
    a {
      line-height:38px;
    }
  }
}

.eff-4{
  width:140px;
  height:50px;
  left:-140px;
  background:#34495e;
  position:absolute;
  transition:all .3s ease;
  z-index:1;
}
.button-4:hover .eff-4{
  left:0;
}
.button-4:hover a{
  color:#fff;
}


.event-box {
  position: relative;
  margin-top: 60px;
  >img {
    max-width: 70%;
    width: 100%;
  }
  >.text {
    position: absolute;
    top: calc(50% - 160px);
    right: 0;
    background-image: url("../item/top/texture3.jpg");
    @extend .back-setting;
    padding: 30px 50px 30px 60px;
    width: calc(50%);
    >.buttons {
      display:flex;
    }
  }
  @media screen and (max-width:1024px) {
    >.text {
      top: calc(50% - 126px);
    }
  }
  @media screen and (max-width:896px) {
    margin-top: 0px;
    >img {
      position: initial;
      max-width: 100%;
    }
    >.text {
      position: initial;
      padding: 20px 20px 60px 30px;
      width: calc(100% - 50px);
    }
  }
}

.apply-box {
  @extend .event-box;
  >img {
    position: relative;
    left: 30%;
  }
  >.text {
    right: initial;
    left: 0;
    >.buttons {
      display: flex;
    }
  }
  @media screen and (max-width:896px) {
    >img {
      left: 0;
    }
  }
}



.sub-page {
  >.key-visual {
    background-image: url('../item/top/main_visual.jpg');
    @extend .back-setting;
    width: 100%;
    height: 150px;
    padding: 150px 0 0 0;
    >.text {
      color: white;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    @media screen and (max-width:1024px) {
      height: 100px;
      padding: 100px 0 0 0;
    }
  }
  >.about-box {
    min-height: 220px;
    background-image: url("../item/top/texture1.png");
    @extend .back-setting;
    >.text {
      padding: 70px 0;
      text-align: center;
      h3 {
        margin: 0;
        padding: 0;
      }
    }
  }
}