* {
  transition: .3s;
}

h1,h2,h3,h4,p,span {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: lighter;
  font-style: normal;
}

h3 {
  font-size: 2rem;
  @media screen and (max-width:1024px) {
    font-size: 1.5rem;
  }
}
p,a {
  font-size: 1.25rem;
  line-height: 1.5;
  text-decoration: none;
  @media screen and (max-width:1024px) {
    font-size: 0.875rem;
  }
}

ul {
  list-style: none
}
